<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="{% static 'project/css/styles.css' %}">
</head>
<body>
    <a href="{% url 'homepage' %}" class="home-button">Go to Homepage</a>
    <a href="javascript:history.back()" class="back-button">Back</a>
    <h1>Books</h1>
    <form method="get">
        <label for="search">Search:</label>
        <input type="text" name="q" id="search" placeholder="Search by title or author" value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a> by {{ book.author }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'book-add' %}">Add New Book</a>
    <br>
    <a href="/project/members/">View Members</a>
</body>
</html>
