<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Delete Meeting</title>
    <link rel="stylesheet" type="text/css" href="{% static 'project/css/styles.css' %}">
</head>
<body>
    <a href="{% url 'homepage' %}" class="home-button">Go to Homepage</a>
    <a href="javascript:history.back()" class="back-button">Back</a>
    <h1>Are you sure you want to delete this meeting?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
    </form>
</body>
</html>
